<%= form_for(@link) do |f| %>
  <div class="clearfix <%= @link.errors[:url].present? ? 'error' : nil %>">
    <%= f.label :url, "URL" %>
		<div class="input">
    	<%= f.text_field :url, :class => "span7" %>
			<span class="help-inline">Must be a proper URL.</span>
			<% @link.errors[:url].each do |msg| %>
				<span class="help-block"><%= msg.capitalize %>!</span>
			<% end %>
		</div>
  </div>

  <div class="clearfix <%= @link.errors[:subdomain].present? ? 'error' : nil %>">
    <%= f.label :subdomain %>
		<div class="input">
			<%= hidden_field_tag "default_subdomain", @default_subdomain %>
    	<%= f.text_field :subdomain, :placeholder => @default_subdomain, :value => (@link.subdomain unless @link.subdomain == @default_subdomain) %>
			<span class="help-inline">Enter without the parent domain, e.g. subbysub NOT subbysub.hadric.us</span>
			<% @link.errors[:subdomain].each do |msg| %>
				<span class="help-block"><%= msg.capitalize %>!</span>
			<% end %>
		</div>
  </div>

  <div class="actions">
    <input type="submit" class="btn primary" value="Submit">
		<%= link_to 'Cancel', links_path, :class => "btn danger" %>
  </div>
<% end %>
