<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation" class="alert-message block-message error">
      <p><strong>Shit! Can't save this.</strong></p>

			<p><%= pluralize(@link.errors.count, "error") %> stopped this from being created.</p>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix <%= @link.errors[:url].present? ? 'error' : nil %>">
    <%= f.label :url, "URL" %>
		<div class="input">
    	<%= f.text_field :url, :class => "span7" %>
			<span class="help-inline">Including http(s)://</span>
		</div>
  </div>
  <div class="clearfix <%= @link.errors[:subdomain].present? ? 'error' : nil %>">
    <%= f.label :subdomain %>
		<div class="input">
    	<%= f.text_field :subdomain %>
			<span class="help-inline">Just the subdomain name, without hadric.us</span>
		</div>
  </div>
  <div class="actions">
    <input type="submit" class="btn primary" value="Submit">
		<%= link_to 'Cancel', links_path, :class => "btn danger" %>
  </div>
<% end %>
