<!DOCTYPE html>
<html>
<head>
  <title>SubbySub</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
	<div class="topbar-inner">
		<div class="container">
			<a class="brand" href="/">SubbySub</a>
			<ul class="nav">
				<%= content_tag :li, :id => "homelink", :class => is_active?(root_path) do %>
					<%= link_to "Home", root_path %>
				<% end %>
				<% if is_authed? %>
					<li><%= link_to "Logout", logout_path %></li>
				<% else %>
					<%= content_tag :li, :id => "loginlink", :class => is_active?(login_path) do %>
						<%= link_to "Login", login_path %>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<div class="container" style="padding-top: 60px">
	<% flash.each do |name, msg| %>  
		<%= content_tag :div, :id => "flash#{name}", :class => "alert-message fade in #{name}", 'data-alert' => 'data-alert' do %>
			<a class="close" href="#">x</a>
			<%= msg %>
		<% end %>
	<% end %>

	<%= yield %>
</div>

</body>
</html>
