<!DOCTYPE html>
<html>
<head>
  <title>SubbySub</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
	<div class="fill">
		<div class="container">
			<a class="brand" href="#">SubbySub</a>
		</div>
	</div>
</div>

<div class="container" style="padding-top: 60px">
	<% flash.each do |name, msg| %>  
		<%= content_tag :div, :id => "flash#{name}", :class => "alert-message fade in #{name}", 'data-alert' => 'data-alert' do %>
			<a class="close" href="#">x</a>
			<%= msg %>
		<% end %>
	<% end %>

	<%= yield %>
</div>

</body>
</html>
